{% extends "layout.html" %}

{% load url from future %}
{% load superdesk_tags %}

{% block title %}{{ item.headline }}{% endblock %}

{% block content %}
<article>
    <p>{{ item.slugline }}</p>
    <h1>{{ item.headline }}</h2>
    <address>{% if item.byline %}by {{ item.byline }} {% endif %} on {{ item.versionCreated }}</address>

    {% if item.contentSet.inlineContent %}
        {% inline_content as content %}
        {{ content|safe }}
        <footer>&copy; {{ item.creditline }}</footer>

    {% elif item.contentSet.remoteContent %}
        {% remote_content "rend:viewImage" as remote %}
        <figure class="fig">
            <img src="{{ remote.href|media_url }}" width="{{ remote.width }}" height="{{ remote.height }}" alt="" title="{{ item.description }}" />
            <figcaption class="fig-copy">&copy; {{ item.creditline }}</figcaption>
        </figure>

    {% endif %}
    <!-- test -->
</article>
{% endblock %}
