{% extends "layout.html" %}

{% load url from future %}
{% load superdesk_tags %}

{% block title %}{{ item.headline }}{% endblock %}

{% block content %}
<article>
    <p>{{ item.slugline }}</p>
    <h1>{{ item.headline }}</h2>
    <address>{% if item.byline %}by {{ item.byline }} {% endif %} on {{ item.versionCreated }}</address>
    <div class="row">
        <div class="span8">
            {% package_items group="main" class="icls:text" %}
            <div>
                {% inline_content as content %}
                {{ content|safe }}
            </div>
            <footer>&copy; {{ item.creditline }}</footer>
            {% /package_items %}
        </div>
        <div class="span4">
            {% package_items group="main" class="icls:picture" %}
            {% remote_content "rend:viewImage" as remote %}
            <figure class="fig">
                <img src="{{ remote.href|media_url }}" width="{{ remote.width }}" height="{{ remote.height }}" alt="" title="{{ item.description }}" />
                <figcaption class="fig-copy">&copy; {{ item.creditline }}</figcaption>
            </figure>
            {% /package_items %}

            {% package_items group="sidebars" %}
            {% if first %}<h3>Related</h3>{% endif %}
            <h4><a href="{% url 'item' item_id=item.id %}">{{ item.headline }}</a></h4>
            {% /package_items %}
        </div>
    </div>
</article>
{% endblock %}
